{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark Conservation Project Home</title>
</head>
<body>
    <main class="home-main">
        <section class="intro">
          <div class="intro-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, impedit. Officia earum,
            reiciendis voluptatum
            eum dolore sed iusto laborum? Nemo fugit, delectus harum eaque facilis fuga repellendus repellat iste facere.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, impedit. Officia earum, reiciendis voluptatum eum
            dolore sed iusto laborum? Nemo fugit, delectus harum eaque facilis fuga repellendus repellat iste facere. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Id, impedit. Officia earum, reiciendis voluptatum eum dolore
            sed iusto laborum? Nemo fugit, delectus harum eaque facilis fuga repellendus repellat iste facere.Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Id, impedit. Officia earum, reiciendis voluptatum eum dolore sed
            iusto laborum? Nemo fugit, delectus harum eaque facilis fuga repellendus repellat iste facere.Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Id, impedit. </div>
        </section>
        <section class="blog-wheel">
          <h2>Newly Added!</h2>
          
        </section>
    
      </main>
</body>
</html>
{% endblock content %}